commit c0f13aeb0d3eaeac192a7186d678c9b8a635643a
Author: Michael Richardson <mcr@xelerance.com>
Date:   Tue Apr 25 20:50:28 2006 -0400

    KLIPSng patches to rest of kernel.
    Sign-off-by: Michael Richardson <mcr@xelerance.com>

diff --git a/include/linux/in.h b/include/linux/in.h
index ba35538..2b47dff 100644
--- a/include/linux/in.h
+++ b/include/linux/in.h
@@ -367,6 +367,12 @@ config SYN_COOKIES
 
 	  If unsure, say N.
 
+config IPSEC_NAT_TRAVERSAL
+	bool "IPSEC NAT-Traversal (KLIPS compatible)"
+	depends on INET
+	---help---
+          Includes support for RFC3947/RFC3948 NAT-Traversal of ESP over UDP.
+
 config INET_AH
 	tristate "IP: AH transformation"
 	select XFRM
diff --git a/net/ipv4/af_inet.c b/net/ipv4/af_inet.c
index 97c276f..10c2d77 100644
--- a/net/ipv4/af_inet.c
