os:
  - linux

language: c
compiler:
  - gcc

env:
  matrix:
    - BUILD_HISTORY_REVS=true
    - BUILD_HISTORY_REVS=false

sudo: false
addons:
  apt:
    packages:
      - make
      - flex
      - bison
      - python-minimal
      - libgmp-dev
      - libpcap0.8-dev
      - libpcap0.8
      - electric-fence
      - gcc-multilib
      - tcpdump
      - libnspr4-dev
      - libnss3-dev
      - libnss3-tools

cache:
  directories:
  - $HOME/stuff
  - $HOME/.ccache

env:
  global:
    - IPSECVERSION=0.0.0
    - BUILD_ARCH=amd64
  matrix:
    - TEST_JOB=build-and-check
    - TEST_JOB=build-every-version
    - TEST_JOB=validate-libpluto


# remove the oracle junk, because it otherwise gets updated, and we do not care about it.
before_install:
  - if [ -z "$TRAVIS_OS_NAME" ]; then TRAVIS_OS_NAME=linux; fi
  - if [ "$TRAVIS_OS_NAME" = osx ]; then brew update; fi

before_script:
  - tests/utils/testsetup.sh
  - "PATH=$HOME/stuff/sbin:$PATH export PATH"
  - which tcpdump
  - gem install cbor-diag

install:
  - if [ "$TRAVIS_OS_NAME" = osx ]; then brew install libpcap libgmp flex bison; fi
  - "PATH=$HOME/stuff/sbin:/usr/lib/ccache:$PATH export PATH"
  - "echo WERROR=-Werror >Makefile.inc.local"
  - "echo ARCH=${BUILD_ARCH}   >>Makefile.inc.local"
  - if [ "$BUILD_ARCH" = i386 ]; then echo "USERLINKEXTRA=-m32" >>Makefile.inc.local; echo "USERCOMPILEEXTRA=-m32" >>Makefile.inc.local; fi
  - mkdir -p $HOME/stuff/sbin
  - cp tests/utils/cborseq2pretty.rb $HOME/stuff/sbin

script:
  - export PATH=$PATH:$HOME/stuff/bin
  - "cat Makefile.inc.local"
  - "make env | sort -f"
  - ./tests/utils/$TEST_JOB

