Package: openswan-module
Priority: optional
Section: Communications
Version: VERSION
Architecture: ARCH
Maintainer: Openswan <users@lists.openswan.org>
Depends: freeswan
Description: Openswan ipsec.o binary IPsec Kernel module
