[main]
Description=Example Cisco Config Profile
Host=127.0.0.1
AuthType=1
GroupName=remote_users
GroupPwd=password
enc_GroupPwd=
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPCommand=
Username=Remote_User
UserPassword=user_password
enc_UserPassword=
SaveUserPassword=0
EnableBackup=0
BackupServer=
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
DHGroup=2
ForceKeepAlives=1
NTDomain=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
SendCertChain=0
PeerTimeout=90
