Source: openswan
Section: net
Priority: optional
Maintainer: Rene Mayrhofer <rmayr@debian.org>
Standards-Version: 3.6.0
Build-Depends: debhelper (>= 4.1.16), libgmp3-dev, libssl-dev, htmldoc, man2html, gawk, libcurl2-dev, libopensc0-dev, libldap2-dev

Package: openswan
Architecture: any
Depends: ${shlibs:Depends}, bsdmainutils, makedev | devfsd, ${debconf-depends}, debianutils (>=1.7), ipsec-tools, kernel-image-2.4 (>=2.4.24-3) | kernel-image-2.6, openssl, gawk, host, iproute
Provides: ike-server
Conflicts: ike-server, freeswan
Description: IPSEC utilities for Openswan
 IPSEC is Internet Protocol SECurity. It uses strong cryptography to provide
 both authentication and encryption services. Authentication ensures that
 packets are from the right sender and have not been altered in transit.
 Encryption prevents unauthorised reading of packet contents.
 .
 This version of Openswan supports Opportunistic Encryption (OE) out of the
 box. OE enables you to set up IPsec tunnels to a site without
 co-ordinating with the site administrator, and without hand
 configuring each tunnel. If enough sites support OE, a "FAX effect"
 occurs, and many of us can communicate without eavesdroppers. 
 .
 In addition to OE, you may manually configure secure tunnels through
 untrusted networks. Everything passing through the untrusted net is
 encrypted by the IPSEC gateway machine and decrypted by the gateway
 at the other end. The result is Virtual Private Network or VPN. This
 is a network which is effectively private even though it includes
 machines at several different sites connected by the insecure Internet.
 .
 Please note that you will need a recent kernel (>=2.4.24 or 2.6.x)
 for using this package. The standard Debian kernel includes both IPSEC
 and crypto support, patching the kernel is no longer necessary!
