Source: openswan
Section: net
Priority: optional
Maintainer: Rene Mayrhofer <rmayr@debian.org>
Standards-Version: 3.6.1.0
Build-Depends:  debhelper (>= 4.1.16), libgmp3-dev, libssl-dev, htmldoc, man2html, libcurl4-dev | libcurl3-dev | libcurl2-dev, libopensc2-dev | libopensc1-dev | libopensc0-dev, libldap2-dev, libpam0g-dev, bison, flex, lynx
Package: openswan
Architecture: any
Pre-Depends: debconf
Depends: ${shlibs:Depends}, bsdmainutils, makedev | devfsd, debianutils (>=1.7), ipsec-tools, openssl, host, iproute
Suggests: openswan-modules-source | kernel-patch-openswan, curl
Provides: ike-server
Conflicts: freeswan (<< 2.04-12)
Description: IPSEC utilities for Openswan
 IPSEC is Internet Protocol SECurity. It uses strong cryptography to provide
 both authentication and encryption services. Authentication ensures that
 packets are from the right sender and have not been altered in transit.
 Encryption prevents unauthorised reading of packet contents.
 .
 This version of Openswan supports Opportunistic Encryption (OE) out of the
 box. OE enables you to set up IPsec tunnels to a site without
 co-ordinating with the site administrator, and without hand
 configuring each tunnel. If enough sites support OE, a "FAX effect"
 occurs, and many of us can communicate without eavesdroppers. 
 .
 In addition to OE, you may manually configure secure tunnels through
 untrusted networks. Everything passing through the untrusted net is
 encrypted by the IPSEC gateway machine and decrypted by the gateway
 at the other end. The result is Virtual Private Network or VPN. This
 is a network which is effectively private even though it includes
 machines at several different sites connected by the insecure Internet.
 .
 Please note that you will need a recent kernel (>=2.4.24 or 2.6.x)
 for using this package. The standard Debian kernel includes both IPSEC
 and crypto support, patching the kernel is no longer necessary!
 .
 If you want to use the KLIPS IPSec code for kernel modules instead of the
 native ones, you will need to install either openswan-modules-source or
 kernel-patch-openswan and build the respective modules for your kernel.
 
Package: openswan-modules-source
Architecture: all
Depends: coreutils | fileutils, debhelper
Recommends: kernel-package (>= 7.04), kernel-source
Suggests: openswan
Description: IPSEC kernel modules source for Openswan
 This package contains the source for the Openswan modules to get the necessary
 kernel support to use Openswan.
 .
 It includes the NAT Traversal patches, which will need to be applied to the
 kernel tree if NAT Traversal is needed.
 .
 It currently works only for 2.4 series kernels!

Package: kernel-patch-openswan
Architecture: all
Depends: coreutils | fileutils
Recommends: kernel-package (>= 7.04)
Suggests: openswan
Description: IPSEC kernel support for Openswan
 This package contains the patches for the Linux kernel to get the necessary
 kernel support to use Openswan. If you want to build a kernel module for
 IPSec, it is much easier to use the openswan-modules-source package instead.
 This kernel-patch package should probably only be used when building a
 non-modular kernel or when compiling IPSec non-modular.
 .
 It includes the NAT Traversal patches and applies them automatically to the
 kernel after inserting KLIPS.
 .
 It will only work for 2.4 series kernels!
