
CONFIG_ACENIC=n
CONFIG_ADFS_FS=n
CONFIG_ADFS_FS_RW=n
CONFIG_AFFS_FS=n
CONFIG_ARCNET=n
CONFIG_ARPD=n
CONFIG_ATALK=n
CONFIG_ATM=n
CONFIG_AUTOFS4_FS=n
CONFIG_AUTOFS_FS=n
CONFIG_BEFS_FS=n
CONFIG_BFS_FS=n
CONFIG_BINFMT_AOUT=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_MISC=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_LVM=n
CONFIG_BLK_DEV_MD=n
CONFIG_BLK_DEV_NBD=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=4096
CONFIG_BLK_DEV_SD=n
CONFIG_BLK_DEV_SR=n
CONFIG_BLK_DEV_UBD=y
CONFIG_BLK_DEV_UBD_SYNC=n
CONFIG_BONDING=n
CONFIG_BRIDGE=n
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_CHR_DEV_SG=n
CONFIG_CHR_DEV_ST=n
CONFIG_CODA_FS=n
CONFIG_CON_CHAN="xterm"
CONFIG_CON_ZERO_CHAN="fd:0,fd:1"
CONFIG_COW=y
CONFIG_CRAMFS=n
CONFIG_CRC32=n
CONFIG_CRYPTO=n
CONFIG_DEBUGSYM=y
CONFIG_DEBUG_SLAB=n
CONFIG_DECNET=n
CONFIG_DEVFS_DEBUG=n
CONFIG_DEVFS_FS=y
CONFIG_DEVFS_MOUNT=y
CONFIG_DEVPTS_FS=y
CONFIG_DEV_ANON=y
CONFIG_DEV_APPLETALK=n
CONFIG_DL2K=n
CONFIG_DUMMY=y
CONFIG_ECONET=n
CONFIG_EFS_FS=n
CONFIG_EQUALIZER=n
CONFIG_ETHERTAP=n
CONFIG_ETHERTAP=y
CONFIG_EXPERIMENTAL=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=n
CONFIG_FAT_FS=n
CONFIG_FDDI=n
CONFIG_FD_CHAN=y
CONFIG_FILTER=y
CONFIG_FTL=n
CONFIG_GCOV=n
CONFIG_GPROF=n
CONFIG_HAMACHI=n
CONFIG_HFSPLUS_FS=n
CONFIG_HFS_FS=n
CONFIG_HIGHMEM=n
CONFIG_HIPPI=n
CONFIG_HOSTAUDIO=n
CONFIG_HOSTFS=y
CONFIG_HOST_2G_2G=n
CONFIG_HPFS_FS=n
CONFIG_HPPFS=n
CONFIG_HUMFS=n
CONFIG_INET=y
CONFIG_INET_ECN=n
CONFIG_INTERMEZZO_FS=n
CONFIG_IPSEC_NAT_NON_ESP=y
CONFIG_IPSEC_NAT_TRAVERSAL=y
CONFIG_IPV6=n
CONFIG_IPX=n
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MROUTE=y
CONFIG_IP_MULTICAST=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IP_NF_AMANDA=n
CONFIG_IP_NF_ARPFILTER=y
CONFIG_IP_NF_ARPTABLES=y
CONFIG_IP_NF_ARP_MANGLE=y
CONFIG_IP_NF_CONNTRACK=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_FTP=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_IRC=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_MATCH_AH_ESP=y
CONFIG_IP_NF_MATCH_CONNTRACK=y
CONFIG_IP_NF_MATCH_DSCP=y
CONFIG_IP_NF_MATCH_ECN=y
CONFIG_IP_NF_MATCH_HELPER=y
CONFIG_IP_NF_MATCH_LENGTH=y
CONFIG_IP_NF_MATCH_LIMIT=y
CONFIG_IP_NF_MATCH_MAC=y
CONFIG_IP_NF_MATCH_MARK=y
CONFIG_IP_NF_MATCH_MULTIPORT=y
CONFIG_IP_NF_MATCH_OWNER=y
CONFIG_IP_NF_MATCH_PKTTYPE=y
CONFIG_IP_NF_MATCH_RECENT=y
CONFIG_IP_NF_MATCH_STATE=y
CONFIG_IP_NF_MATCH_TCPMSS=y
CONFIG_IP_NF_MATCH_TOS=y
CONFIG_IP_NF_MATCH_TTL=y
CONFIG_IP_NF_MATCH_UNCLEAN=y
CONFIG_IP_NF_NAT=y
CONFIG_IP_NF_NAT_FTP=y
CONFIG_IP_NF_NAT_IRC=y
CONFIG_IP_NF_NAT_LOCAL=y
CONFIG_IP_NF_NAT_NEEDED=y
CONFIG_IP_NF_NAT_SNMP_BASIC=y
CONFIG_IP_NF_QUEUE=y
CONFIG_IP_NF_TARGET_DSCP=y
CONFIG_IP_NF_TARGET_ECN=y
CONFIG_IP_NF_TARGET_LOG=y
CONFIG_IP_NF_TARGET_MARK=y
CONFIG_IP_NF_TARGET_MASQUERADE=y
CONFIG_IP_NF_TARGET_MIRROR=y
CONFIG_IP_NF_TARGET_REDIRECT=y
CONFIG_IP_NF_TARGET_REJECT=y
CONFIG_IP_NF_TARGET_TCPMSS=y
CONFIG_IP_NF_TARGET_TOS=y
CONFIG_IP_NF_TARGET_ULOG=y
CONFIG_IP_NF_TFTP=n
CONFIG_IP_PIMSM_V1=n
CONFIG_IP_PIMSM_V2=n
CONFIG_IP_PNP=n
CONFIG_IP_ROUTE_FWMARK=n
CONFIG_IP_ROUTE_FWMARK=y
CONFIG_IP_ROUTE_LARGE_TABLES=n
CONFIG_IP_ROUTE_LARGE_TABLES=y
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_IP_ROUTE_MULTIPATH=y
CONFIG_IP_ROUTE_NAT=y
CONFIG_IP_ROUTE_TOS=n
CONFIG_IP_ROUTE_TOS=y
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_IP_ROUTE_VERBOSE=y
CONFIG_IP_SCTP=n
CONFIG_IP_VS=n
CONFIG_ISA=n
CONFIG_ISO9660_FS=n
CONFIG_JBD=n
CONFIG_JBD_DEBUG=n
CONFIG_JFFS2_FS=n
CONFIG_JFFS_FS=n
CONFIG_JFS_FS=n
CONFIG_JOLIET=n
CONFIG_KERNEL_HALF_GIGS=1
CONFIG_KERNEL_STACK_ORDER=2
CONFIG_KHTTPD=n
CONFIG_KLIPS=y
CONFIG_KLIPS_AH=y
CONFIG_KLIPS_ALG=y
CONFIG_KLIPS_ALG_CRYPTOAPI=n
CONFIG_KLIPS_ALG_NON_LIBRE=y
CONFIG_KLIPS_AUTH_HMAC_MD5=y
CONFIG_KLIPS_AUTH_HMAC_SHA1=y
CONFIG_KLIPS_DEBUG=y
CONFIG_KLIPS_ENC_3DES=y
CONFIG_KLIPS_ENC_AES=y
CONFIG_KLIPS_ESP=y
CONFIG_KLIPS_IPCOMP=y
CONFIG_KLIPS_IPIP=y
CONFIG_KLIPS_NAT_TRAVERSAL=y
CONFIG_KMOD=n
CONFIG_LAPB=n
CONFIG_LLC=n
CONFIG_LOCKD=n
CONFIG_MAGIC_SYSRQ=y
CONFIG_MCONSOLE=y
CONFIG_MD=n
CONFIG_MD_LINEAR=n
CONFIG_MD_MULTIPATH=n
CONFIG_MD_RAID0=n
CONFIG_MD_RAID1=n
CONFIG_MD_RAID5=n
CONFIG_MINIX_FS=n
CONFIG_MMAPPER=n
CONFIG_MODE_SKAS=y
CONFIG_MODE_TT=y
CONFIG_MODULES=y
CONFIG_MSDOS_FS=n
CONFIG_MSDOS_PARTITION=y
CONFIG_MTD=n
CONFIG_MTD=y
CONFIG_MTD_ABSENT=n
CONFIG_MTD_AMDSTD=n
CONFIG_MTD_BLKMTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_CFI=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_MTD_CHAR=y
CONFIG_MTD_CONCAT=n
CONFIG_MTD_DEBUG=n
CONFIG_MTD_DOC1000=n
CONFIG_MTD_DOC2000=n
CONFIG_MTD_DOC2001=n
CONFIG_MTD_DOCPROBE=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_MTD_JEDEC=n
CONFIG_MTD_JEDECPROBE=n
CONFIG_MTD_MTDRAM=n
CONFIG_MTD_NAND=n
CONFIG_MTD_OBSOLETE_CHIPS=n
CONFIG_MTD_PARTITIONS=n
CONFIG_MTD_PCI=n
CONFIG_MTD_PCMCIA=n
CONFIG_MTD_PHYSMAP=n
CONFIG_MTD_PMC551=n
CONFIG_MTD_RAM=n
CONFIG_MTD_REDBOOT_PARTS=n
CONFIG_MTD_ROM=n
CONFIG_MTD_SHARP=n
CONFIG_MTD_SLRAM=n
CONFIG_MYRI_SBUS=n
CONFIG_NCPFS_EXTRAS=n
CONFIG_NCPFS_IOCTL_LOCKING=n
CONFIG_NCPFS_NFS_NS=n
CONFIG_NCPFS_NLS=n
CONFIG_NCPFS_OS2_NS=n
CONFIG_NCPFS_PACKET_SIGNING=n
CONFIG_NCPFS_SMALLDOS=n
CONFIG_NCPFS_STRONG=n
CONFIG_NCP_FS=n
CONFIG_NEST_LEVEL=0
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_DEBUG=y
CONFIG_NETLINK_DEV=y
CONFIG_NET_DIVERT=n
CONFIG_NET_ETHERNET=n
CONFIG_NET_FASTROUTE=n
CONFIG_NET_FC=n
CONFIG_NET_HW_FLOWCONTROL=n
CONFIG_NET_IPGRE=y
CONFIG_NET_IPGRE_BROADCAST=n
CONFIG_NET_IPIP=y
CONFIG_NET_PKTGEN=n
CONFIG_NET_RADIO=n
CONFIG_NET_SCHED=n
CONFIG_NFSD=n
CONFIG_NFSD_V3=n
CONFIG_NFS_FS=n
CONFIG_NFS_V3=n
CONFIG_NFTL=n
CONFIG_NLS=n
CONFIG_NS83820=n
CONFIG_NTFS_FS=n
CONFIG_NTFS_RW=n
CONFIG_NULL_CHAN=y
CONFIG_O1_OPTIM=n
CONFIG_PACKET=y
CONFIG_PACKET_MMAP=y
CONFIG_PARTITION_ADVANCED=n
CONFIG_PCI=n
CONFIG_PLIP=n
CONFIG_PORT_CHAN=y
CONFIG_PPP=y
CONFIG_PPPOE=n
CONFIG_PPP_ASYNC=n
CONFIG_PPP_BSDCOMP=n
CONFIG_PPP_DEFLATE=n
CONFIG_PPP_FILTER=n
CONFIG_PPP_MPPE=n
CONFIG_PPP_MULTILINK=n
CONFIG_PPP_SYNC_TTY=n
CONFIG_PROC_FS=y
CONFIG_PROC_MM=y
CONFIG_PTY_CHAN=y
CONFIG_PT_PROXY=y
CONFIG_QFMT_V2=n
CONFIG_QNX4FS_FS=n
CONFIG_QNX4FS_RW=n
CONFIG_QUOTA=y
CONFIG_RAMFS=n
CONFIG_RCPCI=n
CONFIG_REISERFS_CHECK=n
CONFIG_REISERFS_FS=n
CONFIG_REISERFS_PROC_INFO=n
CONFIG_ROMFS_FS=n
CONFIG_ROOT_NFS=n
CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_SBUS=n
CONFIG_SCSI=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_SCSI_DEBUG_QUEUES=n
CONFIG_SCSI_LOGGING=n
CONFIG_SCSI_MULTI_LUN=n
CONFIG_SHAPER=n
CONFIG_SK98LIN=n
CONFIG_SLIP=y
CONFIG_SLIP_COMPRESSED=n
CONFIG_SLIP_MODE_SLIP6=n
CONFIG_SLIP_SMART=n
CONFIG_SMB_FS=n
CONFIG_SMB_NLS=n
CONFIG_SMP=n
CONFIG_SOFT_WATCHDOG=n
CONFIG_SOUND=n
CONFIG_SSL=y
CONFIG_SSL_CHAN="pty"
CONFIG_STDIO_CONSOLE=y
CONFIG_SUNRPC=n
CONFIG_SYN_COOKIES=n
CONFIG_SYSCTL=y
CONFIG_SYSVIPC=y
CONFIG_SYSV_FS=n
CONFIG_TMPFS=y
CONFIG_TR=n
CONFIG_TTY_CHAN=y
CONFIG_TTY_LOG=n
CONFIG_TUN=y
CONFIG_UDF_FS=n
CONFIG_UDF_RW=n
CONFIG_UFS_FS=n
CONFIG_UFS_FS_WRITE=n
CONFIG_UID16=y
CONFIG_UML_NET=y
CONFIG_UML_NET_DAEMON=y
CONFIG_UML_NET_ETHERTAP=y
CONFIG_UML_NET_MCAST=y
CONFIG_UML_NET_PCAP=n
CONFIG_UML_NET_SLIP=n
CONFIG_UML_NET_SLIRP=n
CONFIG_UML_NET_TUNTAP=y
CONFIG_UML_REAL_TIME_CLOCK=n
CONFIG_UML_SMP=n
CONFIG_UML_SOUND=n
CONFIG_UML_WATCHDOG=n
CONFIG_UMSDOS_FS=n
CONFIG_UNIX98_PTYS=y
CONFIG_UNIX98_PTY_COUNT=256
CONFIG_UNIX=y
CONFIG_USERMODE=y
CONFIG_VFAT_FS=n
CONFIG_VLAN_8021Q=n
CONFIG_VXFS_FS=n
CONFIG_WAN=n
CONFIG_WAN_ROUTER=n
CONFIG_WATCHDOG=n
CONFIG_WATCHDOG_NOWAYOUT=n
CONFIG_X25=n
CONFIG_XFS_FS=n
CONFIG_XTERM_CHAN=y
CONFIG_YELLOWFIN=n
CONFIG_ZISOFS=n
CONFIG_ZISOFS_FS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_ZLIB_FS_INFLATE=n
CONFIG_ZLIB_INFLATE=n
CONIFG_SLIP=y
